* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    width: 100vw;
    height: 50vh;
    background-color: green;
}
.activities {
    width: 100vw;
    height: 60vh;
    background-color: grey;
}
.guide {
    width: 100vw;
    height: 70vh;
    background-color: pink;
}